{% extends "temp.html" %}
{% block body %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>About Us Page</title>
</head>
<body>
    <div class="container rj">
        <div class="text">
            <h1>About Us</h1>
            <br><br>
            <p>We constantly monitor and improve the performance of all live campaigns, keeping you updated every step of the way.
            This is an opportunity to learn what content works best for our community and optimise across all channels.
            Our support team is available to help 24/7/365 at no extra cost should you run into any difficulties with your SMS API needs </p>
        </div>
        <div class="img">

        </div>
    </div>
</body>
</html>
{% endblock %}