{% extends "temp.html" %}
{% block body %}
   
   <div class="container">
    <form action="" method="post">
         <div class="form">
            <div class="note">

        <p>
        Admin Login:
        </p>
        </div>
        <div class="form-content">
        
        
        Username:
	<div class="input-group">
	
	<br>
		<div class="input-group-prepend1">
 
		 </div>
		<input name="un"  class="form-control" placeholder="username" required/>
	</div>
<br>

Password:

    <div class="input-group">
		<div class="input-group-prepend1">
		    
		 </div>
	    <input class="form-control" type="password" name="pass" placeholder="Password" required/>
	</div>
	
	 {% with messages=get_flashed_messages() %}
    {% if messages %}
    <br>
 <div class="alert alert-danger" role="alert">
                    {{messages[0]}}
                </div>   
         {% endif %}
    {% endwith %}
	
	
	 <div class="form-group text-center">
                                <input type="submit" value="Login" name="li" class="btnSubmit" />
                                <input type="submit" value="Back" name="lo" class="btnSubmit" formnovalidate />
                            </div>
                        </div>
                            
                        </div>
                    </div>
</form>                  
                </div>
{% endblock %}
