{% extends "temp.html" %}
{% block body %}

  <div class="container">
   <form action="" method="POST">
            <div class="form">
                <div class="note">
                
                    <p>Create</p>
                </div>

  <div class="form-content">
   Username:
	<div class="input-group">
		
		    
		 
		<input class="form-control" name="unam"  placeholder="Username" required/>
	
	<div class="input-group-append">
    <input type="submit" value="Check" class="btnSubmit1" name="ck" formnovalidate/>
	</div>
	</div>
<br>

 Name:

	<div class="input-group">
		<div class="input-group-prepend1">
    
		   
		 </div>
		<input class="form-control" name="nam" placeholder="Name"  required/>
	</div>
<br>



Contact No.
	<div class="input-group">
		<div class="input-group-prepend1">
		    
		 </div>
		<input class="form-control" name="mob" placeholder="Mobile Number" pattern="[6-9]{1}[0-9]{9}" oninvalid="setCustomValidity('Enter a valid mobile number')" oninput="setCustomValidity('')" required/>
	</div>

<br>

Password:
    <div class="input-group">
		<div class="input-group-prepend1">
		   
		 </div>
	    <input class="form-control" name="pas" type="password" placeholder="Password" pattern=".{8,}" oninvalid="setCustomValidity('Password should contain minimun 8 characters')" oninput="setCustomValidity('')" required/>
	</div>
	
<br>

Confirm Password:
	<div class="input-group">
		<div class="input-group-prepend1">
		    
		 </div>
		<input type="password" class="form-control" name="cpas" placeholder="Confirm Password" required/>
	</div>
	{% with messages=get_flashed_messages() %}
                {% if messages %}
                <br>
                <div class="alert alert-danger" role="alert">
                    *{{messages[0]}}
                </div>
                {% endif %}
                {% endwith %}
                

                            
                            <div class="form-group text-center">
                                <input type="submit" value="Create" name="se" class="btnSubmit"/>


                            </div>

                        </div>
                     </form>   
                        </div>
                    </div>

                </div>
      
{% endblock %}
